#cEvents {
  border-radius: 6px;
  margin: 140px auto;
  width: 580px;
  height: 400px;
  padding: 40px;
  background-color: white;
  zIndex: 999;
  overflow-y: scroll;
}
#cAudits {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  zIndex: 999;
}
.events-header-item, .event-item, .consignments-header-item, .consignment-item {
  padding: 4px;
}
.event-item:first-of-type:hover {
  cursor: pointer;
}
.event, .events-header {
  display: grid;
  grid-template-columns: 140px 40px 180px 140px;
}
.event {
  border: 1px solid rgba(0,0,0,.7);
  border-top-style: none;
  background-color: white;
}
.consignments-header, .consignment {
  display: grid;
  grid-template-columns: 120px 80px 80px 80px 140px;
}
.events-header, .consignments-header {
  color: rgba(255,255,255,1);
  background-color: rgba(67,142,185,1);
}
#cDate {
  line-height: 1.2em;
  margin-left: 20px;
}
#cButton {
  line-height: 1.4em;
  margin-left: 4px;
}
#cConsignments {
  width: 580px;
  margin: 0 auto;
}
